* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'sahel';
}

@font-face {
  font-family: "sahel";
  src: url("./Components/fonts/Sahel.eot") format("eot"),
    url("./Components/fonts/Sahel.ttf") format("truetype"),
    url("./Components/fonts/Sahel.woff") format("woff");
}
.call-to-vakil {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 9px;
  margin: 1rem;
  background-color: rgb(0, 181, 187);
  border-radius: 10px;
}
.call-to-vakil p {
  color: #ffffff;
  margin: 0;
}
.chat-to-vakil p {
  color: #ffffff;
  margin: 0;

}
.chat-to-vakil{
  position: fixed;
  bottom: 3rem;
  right: 0;
  padding: 9px;
  margin: 1rem;
  background-color: rgb(0, 187, 0);
  border-radius: 10px;
}